stripe==2.63.0
Flask-Cors==3.0.10
Flask-Cognito==1.18
confluent_kafka==1.9.2
dateparser==1.1.2
statsd-exporter==3.2.1
jsonschema
fastavro==1.6.1
avro==1.11.1
websockets
requests_toolbelt
aiohttp
gql
pandas
numpy
pytz
boto3
statsd-exporter
redis==4.3.4
dataclasses-avroschema
dataclasses-jsonschema