<!DOCTYPE html>
<html lang="en">

<head>
    <title>Warehouse App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('warehouse.static', filename='css/warehouse.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="contact1">
        <div class="row">
            <div class="col-12">
                <div class="card main ">         
                    <div class="card-header d-flex justify-content-between align-items-center">                       
                        <a type="button" href="/warehouse/checkout" class="btn btn-sm btn-secondary"><i class="fa-solid fa-left-long"></i></a>
                        <h2 id="header_card"> Escaneo de Rollo <h2>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title" id="title_card" ></h5>
                        <div class="row" >
                            <div id="content">
                                <div class='col-12 text-center'><h3>Lista de Rollos</h3><ul class='list-group'></ul>
                                    {% for roll in roll_list %}
                                    </ul>
                                        {% if roll.status == 'Done' %}
                                            <li class='list-group-item d-flex justify-content-between align-items-center'><b>{{roll.roll_name}}</b><span class='badge bg-success rounded-pill'>✅ {{roll.status}}</span></li>
                                        {% else %}
                                            <li class='list-group-item d-flex justify-content-between align-items-center'><b>{{roll.roll_name}}</b><span class='badge bg-secondary rounded-pill'>❌  {{roll.status}}</span></li>
                                        {% endif %}
                                    </ul>
                                    {% endfor %}
                                </div> 
                                </br>
                                </br>
                            </div>
                            <div class="col-12">
                                <video class="siz" id="webcam" autoplay playsinline></video> 
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script>
            var rollList = '{{ roll_list|tojson|safe }}';
            var locationName = '{{ location_name }}';
        </script>
        <audio id="myAudio" src="{{ url_for('warehouse.static', filename='sounds/ping.mp3') }}"></audio>
    <script src="{{ url_for('warehouse.static', filename='js/warehouse.js') }}"></script>
</body>

</html>